<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "test">
    <select id = "query" resultType="com.ning.entity.MyTest">
        SELECT * FROM MyTest
    </select>
    <select id = "queryLike" resultType="com.ning.entity.MyTest" parameterType="java.lang.String">
        SELECT * FROM MyTest WHERE name LIKE #{name}
    </select>
    <select id = "queryId" resultType="com.ning.entity.MyTest" parameterType="java.lang.Integer">
        SELECT * FROM MyTest WHERE id = #{id}
    </select>
</mapper>