<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
    <select id="queryAll" resultType="com.ning.entity.MyTest">
        SELECT * FROM MyTest
    </select>
    <select id="queryId" resultType="com.ning.entity.MyTest" parameterType="java.lang.Integer">
        SELECT * FROM MyTest WHERE id = #{id}
    </select>
    <delete id="deleteId" parameterType="java.lang.Integer">
        DELETE FROM MyTest WHERE id = #{id}
    </delete>
    <insert id="insert" parameterType="com.ning.entity.MyTest">
        INSERT INTO MyTest (id,name,type,price) values(#{id},#{name},#{type},#{price})
    </insert>
    <update id="updateId" parameterType="com.ning.entity.MyTest">
        UPDATE MyTest SET id = #{id},name = #{name},type = #{type},price = #{price} WHERE id = #{id}
    </update>
</mapper>