<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.ning.mapper.MyTestMapper">
    <select id = "query" resultType="com.ning.entity.MyTest">
        SELECT * FROM MyTest
        <foreach collection = "java.util.Arrays"
    </select>
</mapper>